
langchain
langchain-community
langchain-google-genai
langchain-huggingface

pypdf

faiss-cpu

sentence-transformers

transformers
torch == 2.5.1


google-generativeai


langchain-text-splitters

langchain-groq


PyMuPDF

python-dotenv

numpy

huggingface-hub

